body{

 height: 2000px;

}

/* ----Header----- */

header{

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 20% 1fr 2fr 1fr;
    height:25%;
    background-color: #021D44;
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 2rem;
    align-self: end;
    margin-left: 30%;
}


nav{
    grid-column: 3/4;
    grid-row: 1/5;
    height:100%;
    background-color: rgba(247,246,245,0.1);
}
ul{
    margin-top: 150px;
}

ul li{
    display: block;
    margin-bottom: 40%;
   
}

ul li a{
    text-decoration: none;
    color: #F7F6F5;
    
}
header #hi{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
}
#hi p{
    font-family: 'Inconsolata', monospace;
    color: #FF3E55;
    font-size: 4rem;
    margin: 0;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;}

header #developer{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: start;
    margin-left: 5%;
}
#developer p{
    font-family: 'Inconsolata', monospace;
    color: #F7F6F5;
    font-size: 2.5rem;
    margin: 30% 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    letter-spacing: .4rem;
}
/* ----About Me----- */
#aboutme{
    display: grid;
    grid-template-columns: 10% 1fr 10% 50%;
    grid-template-rows: 20% 1fr 20%;
    height: 15%;
    width: 60%;
    margin: 10% auto;
    border-color: #021D44;
    border: dotted;
    background-color: #eecb67;
}

section #myimage{
    grid-column: 2/3;
    grid-row:2/3
}

section #myimage{
    grid-column: 2/3;
    grid-row:2/3;
    justify-self: center;
}
#myimage img{
    width: 60%;
    border-radius: 150px;
}
  

#aboutme h3{
    grid-column: 4/5;
    grid-row: 1/2;
}
#aboutme p{
    grid-column: 4/5;
    grid-row: 2/3;
}
#aboutme a{
    grid-column: 4/5;
    grid-row: 3/4;
}

/* projects section */

#projects{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    grid-template-rows: 1fr;
    width: 80%;
    height: 15%;
}

.card{
    border:solid;
}

  .image {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .overlay {
    position: relative;
    top: -98%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(229, 235, 240);
    margin: 0;
    padding: 0;
  }
  
  .card:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
/* .cardbody{
    background: url('../images/back.png');
    cursor: pointer;
    transition: opacity .5s;
    height: 100%;
    z-index:1;
}

 .card .text{
    z-index: 2;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #1B242F;
    position: relative;
    top: -85%;
    
}
.cardbody:hover .text{
    opacity: 1;
}
/* .text:hover{
    opacity:1;
    z-index:2;} */