body{

 height: 2000px;

}

/* ----Header----- */

header{

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 20% 1fr 2fr 1fr;
    height:25%;
    background-color: #032A33;
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 2rem;
    align-self: end;
    margin-left: 30%;
}


nav{
    grid-column: 3/4;
    grid-row: 1/5;
    height:100%;
    background-color: rgba(247,246,245,0.1);
}
ul{
    margin-top: 150px;
}

ul li{
    display: block;
    margin-bottom: 40%;
   
}

ul li a{
    text-decoration: none;
    color: #F7F6F5;
    
}
ul li a:hover{

    text-decoration: none;
    color: #FF3E55;
    
}
header #hi{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
}
#hi p{
    font-family: 'Inconsolata', monospace;
    color: #650300;
    font-size: 4rem;
    margin: 0;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;}

header #developer{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: start;
    margin-left: 5%;
}
#developer p{
    font-family: 'Inconsolata', monospace;
    color: #F7F6F5;
    font-size: 2.5rem;
    margin: 30% 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: bold;
    letter-spacing: .4rem;

  
}

 /* aboutme */
#aboutme{

    width:60%;
    height: 20%;

    margin: 10% auto;
    position:relative;
    animation: 3s ease-in 1s 1 reverse both running slidein;
}
/* @keyframes slidein{
    from { transform: scaleX(1); }
    to   { transform: scaleX(0); }
} */
#myimage {
    width: 30%;
    height: 70%;

    display: inline-block;
    position: absolute;
    top: 15%;
    left: 20%;}
  

#myimage img{
    width:100%;
    height:100%;
    position: absolute;

}
#aboutme-description {
    display: inline-block;
    width: 40%;
    right: 6%;
    top: 20%;
    position: absolute;
}

#color{
    position: absolute;
    height: 10%;
    background-color: #739E5A;
    width: 100%;
    bottom: 0;
}

#image-back{

    position: absolute;
    z-index: -1;
    background-color: #739E5A;
    width: 45%;
    height:100%;
}
#text{
    position: absolute;
    color: white;
    font-family: 'Poppins', sans-serif;
    left: 5%;
    top: 7%;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    z-index: 2;
    font-weight: bold;}
#border{
    position: absolute;
    right:0;
    width:10%;
    height: 10%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #E5E9F4;
}
.soheila-about {
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: black;
    margin: 0;
    font-weight: bold;
} 

#soheila-about-developer{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .6rem;
    color: black;}


#description{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1rem;
    /* text-transform: uppercase; */
    font-size: .7rem;
    color: black;
    margin-top: 15%;

}


/* projects section */

#projects{
    margin: auto;
    width: 80%;
    height: 35%;
    position: relative;
    margin-bottom: 17%;
}

.card-project1{
    border:solid;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    width: 27%;
    height: 40%;
    animation-name: card1;
    animation-duration: 4s;
}
.card-project2{
    border:solid;

    border-radius: 20px;
    position: absolute;
    top: 20%;
    width: 27%;
    height: 40%;
    left: 35%;
    animation-name: card2;
    animation-duration: 4s;
}
.card-project3{
    border:solid;

    border-radius: 20px;
    position: absolute;
    top: 20%;
    width: 27%;
    height: 40%;
    left: 70%;
    animation-name: card3;
    animation-duration: 4s;
}


.card-project-secondrow1{
    border:solid;
    border-radius: 20px;
    position: absolute;
    top: 65%;
    width: 27%;
    height: 40%;
    animation-name: card4;
    animation-duration: 4s;
}
.card-project-secondrow2{
    border:solid;
    /* grid-row:3/4; */
    border-radius: 20px;
    position: absolute;
    top: 65%;
    width: 27%;
    height: 40%;
    left: 35%;
    animation-name: card5;
    animation-duration: 4s;
}
.card-project-secondrow3{
    border:solid;
    /* grid-row:3/4; */
    border-radius: 20px;
    position: absolute;
    top: 65%;
    width: 27%;
    height: 40%;
    left: 70%;
    animation-name: card6;
    animation-duration: 4s;
}
/* @keyframes card1{
    0%   {top:850%;}

    100%  {top:25%;}
  }
  @keyframes card2{
    0%   {top:850%;}

    100%  {top:25%;}
  }
  @keyframes card3{
    0%   {top:850%;}

    100%  {top:25%;}
  }
  @keyframes card4{
    0%   {top:850%;}

    100%  {top:70%;}
  }
  @keyframes card5{
    0%   {top:850%;}

    100%  {top:70%;}
  }
  @keyframes card6{
    0%   {top:850%;}

    100%  {top:70%;}
  }
   */

  .image-project {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 17px;

  }

  #back-card-project1 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom, rgb(95, 104, 115,0.6) 0%,rgb(202, 184, 204,0.9) 100%),url(../images/xipto1.png);
   
  }
  #back-card-project1 p{
    position: absolute;
    left: 11%;
    top: 48%;
    font-size: 36px;
    color: #053f3a;
    font-family: 'Poppins', sans-serif;
    
  }
  
  #back-card-project2 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    background-repeat: no-repeat;
background-size: cover;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom,rgba(202,184,204,0) 0%, rgb(95, 104, 115,0) 100%),url('../images/retailfy1.png');
   
  }
  #back-card-project2 p{
    position: absolute;
    left: 11%;
    top: 75%;
    font-size: 36px;
    color: #910d3a;
    font-family: 'Poppins', sans-serif;
    
  }

  #back-card-project3 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom, rgb(156, 232, 232,.6) 0%,rgb(232, 212, 212) 100%),url(../images/mongo1.png);
   
  }
  #back-card-project3 p{
    position: absolute;
    left: 11%;
    top: 25%;
    font-size: 36px;
    color: #144b76;
    font-family: 'Poppins', sans-serif;
    
  }
  #back-card-project4 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom, rgb(153, 24, 30,.5) 0%,rgb(240, 0, 46,.9) 100%),url(../images/clicky\ game1.jpg);
}

  #back-card-project4 p{
    position: absolute;
    left: 26%;
    top: 30%;
    font-size: 36px;
    color: black;
    font-family: 'Poppins', sans-serif;
    
  }
  #back-card-project5 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom, rgb(170, 255, 160, 0.5) 0%,rgb(98, 255, 178,0.5) 100%),url(../images/google-book1.png);
}


  #back-card-project5 p{
    position: absolute;
    left: 48%;
    top: 34%;
    font-size: 30px;
    color: #4b6a27;
    font-family: 'Poppins', sans-serif;
  }
  #back-card-project6 {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 17px;
    /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c),url('../images/xipto1.png') ; */
    background: linear-gradient(to bottom, rgb(71, 105, 105,.5) 0%,rgb(122, 181, 181,.5) 100%),url(../images/smartgardening.png);
   
  }
  #back-card-project6 p{
    position: absolute;
    left: 15%;
    top: 45%;
    font-size: 30px;
    color: #ea977d;
    font-family: 'Poppins', sans-serif;
    
  }
  .text-project{
    font-family: 'Inconsolata', monospace;
  }
  .text-project button{
    margin-top: 25%;
   
  }
  
  .overlay-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin: 0;
    padding: 0;
    border-radius: 18px;
  }
  
  .card-project1:hover .overlay-project {
    opacity: 1;
  }

  .card-project2:hover .overlay-project {
    opacity: 1;
  }
  .card-project3:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow1:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow2:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow3:hover .overlay-project {
    opacity: 1;
  }
  
  
  .text-project {
    color: black;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #projectstopic{
 position: absolute;
 top:0;
 left:43%;
    font-size: 2rem;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    border-bottom: solid;
    border-width: thin;
    animation-name: 3s ease-in 1s 1 reverse both running projects;
    animation-duration: 4s;
  }
  /* @keyframes projects{
    0%   {top:850%;}

    100%  {top:0;}
  } */

  /* footer */
  footer{
    height: 7%;
    position: relative;
    bottom: 25%;
    width: 100%;
    background-color: #032A33;
    bottom: 0;}

  #links{
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    background-color: rgba(247,246,245,0.1);
    padding-left: 10%;


  }

  #links .fab{

    font-size: 2rem;
    color: white;
    display: block;
    margin-bottom: 7%;
  }

  #links .fa-github-square{

    position: absolute;
    top: 25%;
    right: 40%;
  }

  
  #links .fa-linkedin{

    position: absolute;
    top: 55%;
    right: 40%;
  }
  #links a{
      text-decoration: none;
  }

  footer p{
  
   
    margin-left: 10%;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  
  #contact-info{
top:25%;
position: absolute;
    width: 50%;
  }

button{
    border: 2px solid #FF3E55;
}

/* media queries */

    /* max-width=1024px*/
    @media screen and (max-width:1024px){

        #text{
            top: 8%;
    font-size: 1.6rem;
        }
        #back-card-project1 p{

            left: 11%;
            top: 44%;
            font-size: 30px;
    
            
          }
          
     
          #back-card-project2 p{
             left: 11%;
            top: 78%;
            font-size: 30px;
      
            
          }
        
         
          #back-card-project3 p{
    
            left: 11%;
            top: 25%;
            font-size: 30px;
           ;
            
          }
         
        
          #back-card-project4 p{
     
            left: 26%;
            top: 30%;
            font-size: 30px;
           
            
          }
         
        
          #back-card-project5 p{
          
            left: 63%;
            top: 44%;
            font-size: 18px;
           
          }
         
          #back-card-project6 p{
          
            left: 15%;
            top: 45%;
            font-size: 24px;
         
            
          }
    
    }

    /* max-width=980px*/

    @media screen and (max-width:980px){

        #myimage{
            height: 50%;
        }
        #text{
            font-size: 1rem;
            left: 4%;
            top: 11%;
        }
      }

    /* max-width=768px------tablets*/

    @media screen and (max-width:768px){

      #description{
        font-size: .6rem;
        font-family: 'Poppins', sans-serif;
      }

      #aboutme{
          width:70%;
      }
      #myimage{

        left:10%;
        width:40%;
      }

      #projects{
          width:90%;
      }
      .card-project1{
        width: 30%;
        height: 35%;
        top: 17%;
      }
      .card-project2{
        width: 30%;
        height: 35%;
        top: 17%;
    }

    .card-project3{
        width: 30%;
    height: 35%;
    top: 17%;
    }
    .card-project-secondrow1{
        width: 30%;
        height: 35%;
        top: 60%;
    }

    .card-project-secondrow2{
        width: 30%;
        height: 35%;
        top: 60%;
    }
    .card-project-secondrow3{
        width: 30%;
    height: 35%;
    top: 60%;
    }
    #back-card-project1 p{

        left: 11%;
        top: 44%;
        font-size: 30px;

        
      }
      
 
      #back-card-project2 p{
         left: 11%;
        top: 78%;
        font-size: 30px;
  
        
      }
    
     
      #back-card-project3 p{

        left: 11%;
        top: 25%;
        font-size: 30px;
       ;
        
      }
     
    
      #back-card-project4 p{
 
        left: 26%;
        top: 30%;
        font-size: 30px;
       
        
      }
     
    
      #back-card-project5 p{
      
        left: 63%;
        top: 44%;
        font-size: 18px;
       
      }
     
      #back-card-project6 p{
      
        left: 15%;
        top: 45%;
        font-size: 24px;
     
        
      }



      }

      /* cell phones */
    
@media only screen and (max-width: 640px) {

    body{
        height:1500px;
    }
    /* header */
    
ul li a{
    text-decoration: none;
    color: #F7F6F5;
    font-size: 12px;
    
}
ul{
    margin-top: 100px;
    padding: 10%;
}


    /* aboutme */
    #aboutme{

        width: 95%;
        height: 30%;
        margin: 10% auto;
        position: relative;
        animation: 3s ease-in 1s 1 reverse both running slidein;
    }
    /* @keyframes slidein{
        from { transform: scaleX(1); }
        to   { transform: scaleX(0); }
    } */
    #myimage {
        width: 40%;
    height: 45%;
    display: inline-block;
    position: absolute;
    top: 15%;
    left: 10%;}
      
    
    #myimage img{
        width:100%;
        height:100%;
        position: absolute;
    
    }
    #aboutme-description {
        display: inline-block;
        width: 40%;
        right: 6%;
        top: 20%;
        position: absolute;
        font-family: 'Poppins', sans-serif;
    }
    
    #color{
        position: absolute;
        height: 10%;
        background-color: #739E5A;
        width: 100%;
        bottom: 0;
    }
    
    #image-back{
    
        position: absolute;
        z-index: -1;
        background-color: #739E5A;
        width: 45%;
        height:100%;
    }
    #text{
        
            font-size: 1rem;
            left: 4%;
            top: 11%;
        
    }
    #border{
        position: absolute;
        right:0;
        width:10%;
        height: 10%;
        border-width: 1px 1px 0px 0px;
        border-style: solid;
        border-color: #E5E9F4;
    }
    .soheila-about {
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 500;
        letter-spacing: .1rem;
        text-transform: uppercase;
        font-size: .75rem;
        color: black;
        /* line-height: 2rem; */
        margin: 0;
        font-weight: bold;}
    
    #soheila-about-developer{
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-size: .6rem;
        color: black;}
    
    
    #description{
        font-family: 'Poppins', sans-serif;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        letter-spacing: .1rem;
        font-size: .6rem;
        color: black;
        margin-top: 15%;
    
    }

    /* projects */
    #projects{
        margin: auto;
        width: 95%;
        height: 45%;
        position: relative;
        margin-bottom: 10%;
        
    }
    #projectstopic{
        left:30%;
    }
    
    .card-project1{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 45%;
        left: 19%;
        animation-name: card1;
        animation-duration: 4s;
        top: 15%;
    }
    .card-project2{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 41%;
        left: 19%;
        animation-name: card2;
        animation-duration: 4s;
        top:20%;
    }
    .card-project3{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 45%;
        left: 19%;
        animation-name: card3;
        animation-duration: 4s;
        top:25%;
    }
    
    
    .card-project-secondrow1{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 45%;
        left: 19%;
        animation-name: card4;
        animation-duration: 4s;
        top:30%;
    }
    .card-project-secondrow2{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 45%;
        left: 19%;
        animation-name: card5;
        animation-duration: 4s;
        top:35%;
    }
    .card-project-secondrow3{
        border:solid;
        border-radius: 20px;
        position: relative;
        width: 60%;
        height: 45%;
        left: 19%;
        animation-name: card6;
        animation-duration: 4s;
        top:40%;
    }


    #back-card-project1 p{

        left: 11%;
        top: 44%;
        font-size: 30px;

        
      }
      
 
      #back-card-project2 p{
         left: 11%;
        top: 78%;
        font-size: 30px;
  
        
      }
    
     
      #back-card-project3 p{

        left: 11%;
        top: 25%;
        font-size: 30px;
       ;
        
      }
     
    
      #back-card-project4 p{
 
        left: 26%;
        top: 30%;
        font-size: 30px;
       
        
      }
     
    
      #back-card-project5 p{
      
        left: 55%;
        top: 40%;
        font-size: 24px;
       
      }
     
      #back-card-project6 p{
      
        left: 15%;
        top: 45%;
        font-size: 24px;
     
        
      }

    /* footer */
    footer{
        height: 7%;
        position: relative;
        bottom: 25%;
        width: 100%;
        background-color: #032A33;
        top:100%;
    }
    #links .fa-github-square{

        position: absolute;
        top: 25%;
        right: 20%;
      }
    
      
      #links .fa-linkedin{
    
        position: absolute;
        top: 55%;
        right: 20%;
      }
  }