body{

 height: 2000px;

}

/* ----Header----- */

header{

    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 20% 1fr 2fr 1fr;
    height:25%;
    background-color: #021D44;
}

#logo{
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 2rem;
    align-self: end;
    margin-left: 30%;
}


nav{
    grid-column: 3/4;
    grid-row: 1/5;
    height:100%;
    background-color: rgba(247,246,245,0.1);
}
ul{
    margin-top: 150px;
}

ul li{
    display: block;
    margin-bottom: 40%;
   
}

ul li a{
    text-decoration: none;
    color: #F7F6F5;
    
}
header #hi{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: center;
}
#hi p{
    font-family: 'Inconsolata', monospace;
    color: #FF3E55;
    font-size: 4rem;
    margin: 0;
    margin-left: 10%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;}

header #developer{
    grid-column: 1/3;
    grid-row: 3/4;
    justify-self: start;
    margin-left: 5%;
}
#developer p{
    font-family: 'Inconsolata', monospace;
    color: #F7F6F5;
    font-size: 2.5rem;
    margin: 30% 0;
    /* font-family: 'Source Sans Pro', sans-serif; */
    font-weight: bold;
    letter-spacing: .4rem;
    /* animation-name: developer;
    animation-duration: 4s;
    animation-delay: 1s; */
  
}

/* @keyframes developer{
   0%   {color:#F7F6F5;}
   25%  {color:#FF3E55; }
  50%  {color:#FF3E55; }
  75%  {color:#FF3E55; }
  100%  {color:#F7F6F5; }} */
 

/* ----About Me----- */
/* #aboutme{
    display: grid;
    grid-template-columns: 10% 1fr 10% 50%;
    grid-template-rows: 20% 1fr 20%;
    height: 15%;
    width: 60%;
    margin: 10% auto;
    border-color: #021D44;
    border: dotted;
    background-color: #eecb67;
}

section #myimage{
    grid-column: 2/3;
    grid-row:2/3
}


section #myimage{
    grid-column: 2/3;
    grid-row:2/3;
    justify-self: center;
}
#myimage img{
    width: 60%;
    border-radius: 150px;
}
  

#aboutme .soheila-about{
    grid-column: 4/5;
    grid-row: 1/2;
}
#aboutme #description{
    grid-column: 4/5;
    grid-row: 2/3;
}
#aboutme a{
    grid-column: 4/5;
    grid-row: 3/4;
}
.soheila-about {
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 2rem;
} */

#aboutme{

    width:60%;
    height: 20%;

    margin: 10% auto;
    position:relative;
    animation: 3s ease-in 1s 1 reverse both running slidein;
}
@keyframes slidein{
    from { transform: scaleX(1); }
    to   { transform: scaleX(0); }
}
#myimage {
    width: 30%;
    height: 70%;

    display: inline-block;
    position: absolute;
    top: 15%;
    left: 20%;}
  

#myimage img{
    width:100%;
    height:100%;
    position: absolute;

}
#aboutme-description {
    display: inline-block;
    width: 40%;
    right: 6%;
    top: 20%;
    position: absolute;
}

#color{
    position: absolute;
    height: 10%;
    background-color: #E5E9F4;
    width: 100%;
    bottom: 0;
}

#image-back{

    position: absolute;
    z-index: -1;
    background-color: #E5E9F4;
    width: 45%;
    height:100%;
}
#text{
    position: absolute;
    color: #F7F6F5;
    font-family: 'Inconsolata', monospace;
    left: 8%;
    top: 9%;
    font-size: 2rem;
    letter-spacing: 0.8rem;
    z-index: 2;
}
#border{
    position: absolute;
    right:0;
    width:10%;
    height: 10%;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: #E5E9F4;
}
.soheila-about {
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .5rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: black;
    /* line-height: 2rem; */
    margin: 0;
} 

#soheila-about-developer{
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .6rem;
    color: black;}


#description{
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .1rem;
    /* text-transform: uppercase; */
    font-size: .7rem;
    color: black;
    margin-top: 15%;

}


/* projects section */

#projects{
    margin: auto;
    width: 80%;
    height: 35%;
    position: relative;
    margin-bottom: 17%;
}

.card-project1{
    border:solid;
    border-radius: 20px;
    position: absolute;
    top: 25%;
    width: 27%;
    height: 40%;
    animation-name: card1;
    animation-duration: 4s;
}
.card-project2{
    border:solid;

    border-radius: 20px;
    position: absolute;
    top: 25%;
    width: 27%;
    height: 40%;
    left: 35%;
    animation-name: card2;
    animation-duration: 4s;
}
.card-project3{
    border:solid;

    border-radius: 20px;
    position: absolute;
    top: 25%;
    width: 27%;
    height: 40%;
    left: 70%;
    animation-name: card3;
    animation-duration: 4s;
}


.card-project-secondrow1{
    border:solid;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    width: 27%;
    height: 40%;
    animation-name: card4;
    animation-duration: 4s;
}
.card-project-secondrow2{
    border:solid;
    /* grid-row:3/4; */
    border-radius: 20px;
    position: absolute;
    top: 70%;
    width: 27%;
    height: 40%;
    left: 35%;
    animation-name: card5;
    animation-duration: 4s;
}
.card-project-secondrow3{
    border:solid;
    /* grid-row:3/4; */
    border-radius: 20px;
    position: absolute;
    top: 70%;
    width: 27%;
    height: 40%;
    left: 70%;
    animation-name: card6;
    animation-duration: 4s;
}

  .image-project {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 17px;

  }
  .text-project{
    font-family: 'Inconsolata', monospace;
  }
  .text-project button{
    margin-top: 25%;
   
  }
  
  .overlay-project {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(229, 235, 240);
    margin: 0;
    padding: 0;
    border-radius: 20px;
  }
  
  .card-project1:hover .overlay-project {
    opacity: 1;
  }

  .card-project2:hover .overlay-project {
    opacity: 1;
  }
  .card-project3:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow1:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow2:hover .overlay-project {
    opacity: 1;
  }
  .card-project-secondrow3:hover .overlay-project {
    opacity: 1;
  }
  
  
  .text-project {
    color: black;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #projectstopic{
 position: absolute;
 top:0;
 left:43%;
    font-size: 2rem;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
    border-bottom: solid;
    border-width: thin;
    animation-name: projects;
    animation-duration: 4s;
  }
  @keyframes projects{
    0%   {top:850%;}

    100%  {top:0;}
  }

  /* footer */
  footer{
    height: 7%;
    position: relative;
    bottom: 25%;
    width: 100%;
    background-color: #021D44;
    bottom: 0;}

  #links{
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    background-color: rgba(247,246,245,0.1);
    padding-left: 10%;


  }

  #links .fab{

    font-size: 2rem;
    color: white;
    display: block;
    margin-bottom: 7%;
  }

  #links .fa-github-square{

    position: absolute;
    top: 25%;
    right: 40%;
  }

  
  #links .fa-linkedin{

    position: absolute;
    top: 55%;
    right: 40%;
  }
  #links a{
      text-decoration: none;
  }

  footer p{
  
   
    margin-left: 10%;
    font-family: 'Inconsolata', monospace;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: .2rem;
    text-transform: uppercase;
    font-size: .83rem;
    color: #F7F6F5;
    line-height: 1.5rem;
    margin-bottom: 0;
  }
  
  #contact-info{
top:25%;
position: absolute;
    width: 50%;
  }

